
.messinfo_content h1 {
    font-family: Bungee, sans-serif;
    color: #ea494a;
    font-size: 30px;
    font-weight: 400;
}
.mess_brief_info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.mess_brief_info .mess_img {
    width: 60%;
    height: 28rem;
}   
.mess_img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}   

.mess_brief_info .mess_info {
    padding: 20px;
    width: 40%;
    border: 2px solid gainsboro;
    border-radius: 15px;
    background-color: #fff;
    height: 28rem;
}

.mess_info .mess_location {
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.mess_location i {
    color: rgb(250, 164, 26);
    font-size: 24px;
}

.mess_service {
    font-size: 18px;
    margin-bottom: 10px;
    color: gray;
}

.mess_info ul {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 30px;
    
}
.mess_info ul li {
    list-style: circle;
    padding-right: 30px;
    color: gray;
}

.mess_info .order_btn {
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    padding: 9px 22px;
    border-radius: 15px;
    background: linear-gradient(90deg, rgb(255, 115, 72) 0%, rgb(255, 167, 29) 100%);
    box-shadow: rgba(255, 141, 77, 0.2) 0px 9px 14px 0px;
}

.mess_plans {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.meal_plan {
    width: 26rem;
    height: 15rem;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.meal_plan p {
    color: #ea494a;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}
.meal_plan h1 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 30px;
}
.meal_plan ul {
    margin-left: 20px;
}
.meal_plan ul li {
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}


.meal_plan_two {
    width: 26rem;
    height: 15rem;
    background: linear-gradient(90deg, #FF7348 0%, #FFA71D 100%);
    border-radius: 15px;
    padding: 20px;
}
.meal_plan_two p {
    color: white;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}
.meal_plan_two h1 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 30px;
    color: white;
}
.meal_plan_two ul {
    margin-left: 20px;
}
.meal_plan_two ul li {
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}


.meal_plan_three {
    width: 26rem;
    height: 15rem;
    background-color: white;
    border: 2px solid #ea494a;
    border-radius: 15px;
    padding: 20px;
}
.meal_plan_three p {
    color: #ea494a;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}
.meal_plan_three h1 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 30px;
    color: #ea494a;
}
.meal_plan_three ul {
    margin-left: 20px;
}
.meal_plan_three ul li {
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.day_meal_content h1 {
    margin-top: 30px;
    font-family: Bungee, sans-serif;
    color: #ea494a;
    font-size: 30px;
    font-weight: 400;
}
.day_meal_content .days ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.days li {
    padding: 9px 35px;
    border: 2px solid #ea494a;
    border-radius: 25px;
    color: #ea494a;
    cursor: pointer;
    margin: 10px 0;
}

.days .active {
    background: linear-gradient(90deg, #FF7348 0%, #FFA71D 100%);
    border: none;
    color: white;
}

.meal_content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.meal {
    padding: 20px;
    width: 19rem;
    height: 18rem;
    background: white;
    border-radius: 15px;
}
.meal h2 {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: #ea494a;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 20px;
}
.meal ul {
    margin-left: 20px;
}
.meal ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}



@media (max-width: 1024px) {
    .mess_brief_info .mess_img {
        width: 60%;
        height: 22rem;
    }
    .mess_brief_info .mess_info {
        padding: 10px;
        height: 22rem;
    }
    .mess_info .mess_location {
        font-size: 14px;
        gap: 5px;
        margin-bottom: 20px;
    }
    .mess_service {
        font-size: 14px;
        margin-bottom: 5px;
        color: gray;
    }
    .mess_info ul li {
        font-size: 14px;
        list-style: circle;
        padding-right: 30px;
        color: gray;
    }
    .mess_info .order_btn {
        font-size: 14px;
        padding: 7px 16px;
    }
}


@media (max-width: 850px) {
    .mess_brief_info {
        flex-direction: column;
    }
    .mess_brief_info .mess_img {
        width: 100%;
        height: 26rem;
    }
    .mess_brief_info .mess_info {
        padding: 20px;
        width: 100%;
        border: 2px solid gainsboro;
        border-radius: 15px;
        background-color: #fff;
        height: 24rem;
    }
}



@media (max-width: 850px) {
    .mess_brief_info {
        flex-direction: column;
    }
    .mess_brief_info .mess_img {
        width: 100%;
        height: 15rem;
    }
    .mess_brief_info .mess_info {
        padding: 20px;
        width: 100%;
        border: 2px solid gainsboro;
        border-radius: 15px;
        background-color: #fff;
        height: 24rem;
    }
}

@media (max-width: 450px) {
    
    .meal_plan {
        width: 26rem;
        height: auto;
        background-color: white;
        border-radius: 15px;
        padding: 20px;
    }
    .meal_plan_two {
        width: 26rem;
        height: auto;
        background-color: white;
        border-radius: 15px;
        padding: 20px;
    }
    .meal_plan_three {
        width: 26rem;
        height: auto;
        background-color: white;
        border-radius: 15px;
        padding: 20px;
    }
}