.about_content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 20px;
}

.about_content .about_img img {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.about_content .about_info h1 {
    font-family: Bungee, sans-serif;
    color: #ea494a;
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    margin-bottom: 50px;
}

.about_content .about_info p {
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #48292d;
}

@media (max-width: 1100px){
    .about_content .about_info h1 {
        font-size: 60px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .about_content .about_info p {
        line-height: 22px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #48292d;
    }
}


@media (max-width: 800px) {
    .about_content {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .about_content .about_img img {
        width: 95vw;
        height: 70vh;
        object-fit: cover;
        object-position: 50% 50%;
    }

    


}


@media (max-width: 480px) {
    .about_content {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        padding: 10px;
    }

    .about_content .about_img img {
        width: 95vw;
        height: 50vh;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .about_content .about_info h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }


}