.footer {
    background: #ea494a;
    padding: 30px;
}

.footer_social .hr_line {
    width: 100%;
    height: 2px;
    background-color: #f3e7bf;
}

.footer_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.footer_social img {
    width: 200px;
}
.footer_follow {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.footer_follow h2 {
    font-family: Bungee, sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.footer_follow i {
    padding: 10px;
    background-color: #f4b53f;
    color: #48292d;
    border-radius: 50%;
}

.footer_contact {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
}

.footer_contact h2 {
    color: #f3e7bf;
    font-family: Bungee, sans-serif;
    font-weight: 500;
}

.footer_contact a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: white;
    padding-bottom: 20px;
    border-bottom: #f3e7bf;
}
.footer_contact a span {
    font-size: 12px;
}

.footer_pages ul li a {
    font-size: 16px;
    color: white;
}

@media (max-width: 450px) {
    .footer {
        padding: 15px;
    }
    .footer_social img {
        width: 120px;
    }
    .footer_follow h2 {
        font-size: 14px;
    }
    .footer_follow i {
        padding: 3px;
        font-size: 14px;
    }

    .footer_contact h2 {
        font-size: 18px;
    }
}
@media (max-width: 350px) {
    .footer_logo {
        padding: 6px;
    }
    .footer_social img {
        width: 90px;
    }
    .footer_follow h2 {
        font-size: 10px;
    }
    .footer_contact h2 {
        font-size: 16px;
    }
    .footer_contact a span {
        font-size: 10px;
    }
    .footer_follow i {
        padding: 4px;
        font-size: 10px;
    }
}
