@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.locatemess_content {
    padding: 60px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.locatemess_content .locatemess_info {
    width: 70%;
}

.locatemess_info h1 {
    font-family: Bungee, sans-serif;
    color: #ea494a;
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 20px;
}
.locatemess_info p {
    color: gray;
    font-size: 16px;
    width: 70%;
    margin-bottom: 20px;
}
.locatemess_content .locatemess_img {
    width: 30%;
}
.locatemess_img img {
    width: 28%;
    position: absolute;
    top: 30px;
    right: 100px;
}



/* mess card */
.locatemess_messes {
    padding: 30px 20px;
}
.locatemess_messcards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-self: center;
}
.messcard {
    width: 47%;
    /* height: 55vh; */
    gap: 10px;
    overflow: hidden;
    display: flex;
    justify-content: start  ;
    background-color: white;
    border-radius: 25px;
}
.messcard .mess_img {
    width: 25%;
    height: 100%;
}
.messcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messcard .mess_info {
    padding: 20px 2px;
    width: calc(100% - 30%);
}
.mess_info .mess_title {
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.mess_info .mess_title img {
    width: 20px;
}
.mess_title h1 {
    font-size: 24px;
}
.mess_title p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    font-size: 12px;
    font-weight: bold;
}
.mess_location {
    margin-top: 10px;
    font-size: 12px;
    color: gray;
}
.mess_rating {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    color: gray;
}
.mess_rating i {
    padding: 0 1px;
    color: rgb(248, 184, 78);
    font-size: 24px;
}
.mess_time {
    margin-top: 10px;
}
.mess_time .day, .mess_time .night {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}
.mess_time p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.mess_time .day i {
    font-size: 25px;
    color: rgb(255, 167, 34);
}
.mess_time .night i {
    font-size: 25px;
    color: rgb(91, 104, 118);
}

.mess_descInfo {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mess_price p {
    color: gray;
    font-size: 18px;
}
.mess_price h1 {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
}

.mess_descInfo .mess_btn_one {
    margin: 0 5px;
    padding: 9px 22px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(255, 115, 72) 0%, rgb(255, 167, 29) 100%);
    box-shadow: rgba(255, 141, 77, 0.2) 0px 9px 14px 0px;
}
.mess_descInfo .mess_btn_two {
    margin: 0 5px;
    padding: 9px 22px;
    border-radius: 10px;
    box-shadow: rgba(255, 141, 77, 0.2) 0px 9px 14px 0px;
    color: rgb(255, 115, 72);
    border: 1px solid rgba(250, 164, 26, 0.5);
    white-space: nowrap;
}

@media (max-width: 1280px) {
    .messcard {
        width: 49%;
    }
    .mess_price p {
        color: gray;
        font-size: 16px;
    }
    .mess_price h1 {
        margin-top: 10px;
        font-family: "Raleway", sans-serif;
        font-size: 22px;
    }
}
@media (max-width: 1170px) {
    .mess_descInfo .mess_btn_one {
        padding: 9px 15px;
    }
    .mess_descInfo .mess_btn_two {
        padding: 9px 15px;
    }
}

@media (max-width: 1090px) {
    .mess_descInfo .mess_btn_one {
        padding: 9px 12px;
    }
    .mess_descInfo .mess_btn_two {
        padding: 9px 12px;
    }
}


@media (max-width: 1024px){
    .locatemess_info h1 {
        font-size: 50px;
        line-height: 70px;
        margin-bottom: 15px;
    }
    .locatemess_info p {
        width: 80%;
        margin-bottom: 15px;
    }

    .messcard {
        width: 99%;
    }
}


@media (max-width: 780px){
    .locatemess_content {
        padding: 25px 30px;
    }
    .locatemess_info h1 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    
}

@media (max-width: 450px) {
    .locatemess_content .locatemess_img{
        display: none;
    }
    .locatemess_content .locatemess_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .locatemess_info h1 {
        text-align: start;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .select_menu .select {
        padding: 4px;
        font-size: 12px;
        width: 100%;
    }
    .findmess_btn a {
        padding: 8px 24px;
        display: block;
        text-align: center;
        font-size: 16px;
    }


    .messcard {
        width: 99%;
        flex-direction: column;
    }
    .messcard .mess_img {
        width: 100%;
        height: 30%;
    }
    .messcard .mess_info {
        padding: 20px 12px;
        width: 100%;
    }
    .mess_descInfo {
        margin-top: 65px;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 20px;
        flex-direction: column;
    }
}

@media (max-width: 380px) {
    .locatemess_info h1 {
        text-align: start;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 15px;
    }
}


@media (max-width: 350px) {
    .locatemess_info h1 {
        text-align: start;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 15px;
    }
}

